* {
  margin: 0;
  padding: 0;
}

:root {
  --logo-font: yeseva one;
  --main-font: poppins;
}

body {
  width: 100%;
  height: 100%;
  font-family: var(--main-font);
}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 4rem;
}
.top-bar #logo {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--logo-font);
}
.top-bar #logo::before {
  content: "MED";
  color: black;
}
.top-bar #logo::after {
  content: "DICAL";
  color: #159eec;
}
.top-bar .contact-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.top-bar .contact-info .info {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.top-bar .contact-info .info i {
  font-size: 24px;
  color: #159eec;
  font-weight: 600;
}
.top-bar .contact-info .info p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 13px;
}
.top-bar .contact-info .info p span {
  color: #159eec;
  font-size: 12px;
}

.nav-bar {
  background-color: #1f2b6c;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.8rem;
  gap: 7rem;
  position: sticky;
  top: 0;
  z-index: 900;
}
.nav-bar .links {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.nav-bar .links .navLink {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
}
.nav-bar .links .navLink.active {
  color: #bfd2f8;
}
.nav-bar #appointment {
  color: #1f2b6c;
  background-color: #bfd2f8;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 30px;
  text-decoration: none;
  font-size: 13px;
}

.contact-head {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url(images/computer-1149148_1920.jpg);
  background-size: cover;
  background-position: bottom center;
  padding: 7rem 7rem 7rem 9.4rem;
}
.contact-head .back-link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.contact-head .back-link a {
  color: #bfd2f8;
  text-decoration: none;
  transition: 0.3s ease;
}
.contact-head .back-link a:hover {
  color: #1f2b6c;
}
.contact-head .back-link span {
  color: #bfd2f8;
}
.contact-head h1 {
  font-family: var(--logo-font);
  font-size: 50px;
  font-weight: 500;
  color: #1f2b6c;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 3rem;
}
.contact-content iframe {
  width: 980px;
}
.contact-content .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin-top: 1rem;
}
.contact-content .info h1 {
  color: #159eec;
  font-size: 20px;
  font-weight: 600;
}
.contact-content .info .info-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f2b6c;
  justify-content: center;
  padding: 0.2rem;
  gap: 0.5rem;
  border-radius: 5px;
}
.contact-content .info .info-input .name-email {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.contact-content .info .info-input input {
  background: transparent;
  border: none;
  padding: 1rem 10rem 1rem 1rem;
  outline: none;
  border: 1.5px solid #bfd2f8;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.contact-content .info .info-input input::-moz-placeholder {
  color: rgb(199, 197, 197);
  font-size: 15px;
}
.contact-content .info .info-input input::placeholder {
  color: rgb(199, 197, 197);
  font-size: 15px;
}
.contact-content .info .info-input #subject {
  width: 100%;
  background: transparent;
  border: none;
  padding: 1rem;
  box-sizing: border-box;
  border: 1.5px solid #bfd2f8;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.contact-content .info .info-input #subject:focus,
.contact-content .info .info-input #name:focus,
.contact-content .info .info-input #email:focus,
.contact-content .info .info-input #subject:focus,
.contact-content .info .info-input #message:focus {
  border-color: #159eec;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 10px rgba(76, 175, 80, 0.3);
}
.contact-content .info .info-input textarea {
  width: 100%;
  background: transparent;
  border: none;
  padding: 1rem 1rem 10rem 1rem;
  box-sizing: border-box;
  resize: none;
  outline: none;
  border: 1.5px solid #bfd2f8;
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  border-radius: 5px;
}
.contact-content .info .info-input textarea::-moz-placeholder {
  color: rgb(199, 197, 197);
  font-size: 15px;
  font-family: var(--main-font);
}
.contact-content .info .info-input textarea::placeholder {
  color: rgb(199, 197, 197);
  font-size: 15px;
  font-family: var(--main-font);
}
.contact-content .info .info-input button {
  background-color: #bfd2f8;
  padding: 1rem;
  border: none;
  color: black;
  width: 100%;
  cursor: pointer;
  font-family: var(--main-font);
  font-size: 15px;
  border-radius: 5px;
  transition: 0.3s ease;
}
.contact-content .info .info-input button:hover {
  transform: translateY(-2px);
  background-color: #a1baec;
}
.contact-content .info-cards {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.contact-content .info-cards p {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #bfd2f8;
  border-radius: 5px;
  gap: 0.3rem;
  transition: 0.3s ease;
}
.contact-content .info-cards p span {
  font-size: 13px;
}
.contact-content .info-cards p small {
  font-size: 10px;
}
.contact-content .info-cards p i {
  font-size: 25px;
}
.contact-content .info-cards p:hover {
  color: white;
  background-color: #1f2b6c;
}

.footer {
  background-color: #1f2b6c;
  width: 100%;
  color: white;
  padding: 3rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}
.footer .first-section {
  display: flex;
  gap: 4.5rem;
}
.footer .first-section .about {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: flex-start;
}
.footer .first-section .about h1 {
  font-family: var(--logo-font);
  color: #bfd2f8;
  font-size: 30px;
  font-weight: 700;
}
.footer .first-section .about span {
  font-size: 14px;
  font-weight: 300;
}
.footer .first-section .footer-links {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .first-section .footer-links h1 {
  font-size: 17px;
}
.footer .first-section .footer-links .link-dir {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.footer .first-section .footer-links .link-dir a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  font-size: 13px;
}
.footer .first-section .footer-contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .first-section .footer-contact h1 {
  font-size: 17px;
}
.footer .first-section .footer-contact .contact-dir {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.footer .first-section .footer-contact .contact-dir span {
  font-weight: 300;
  font-size: 13px;
}
.footer .first-section .newsletter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.footer .first-section .newsletter h1 {
  font-size: 17px;
}
.footer .first-section .newsletter .input-dir {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #bfd2f8;
  padding: 0.3rem 0.5rem;
  border-radius: 5px;
}
.footer .first-section .newsletter .input-dir input {
  background: transparent;
  padding: 0.5rem 0.5rem 0.5rem 0.1rem;
  border: none;
  outline: none;
}
.footer .first-section .newsletter .input-dir input::-moz-placeholder {
  font-size: 12px;
  color: #1f2b6c;
  font-family: var(--main-font);
}
.footer .first-section .newsletter .input-dir input::placeholder {
  font-size: 12px;
  color: #1f2b6c;
  font-family: var(--main-font);
}
.footer .first-section .newsletter .input-dir button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.footer .first-section .newsletter .input-dir button i {
  font-size: 16px;
  color: #1f2b6c;
}
.footer .first-section .newsletter #thanksMsg {
  font-size: 15px;
  color: rgb(140, 227, 140);
  font-weight: 400;
  position: relative;
  right: -60%;
  bottom: 1rem;
  opacity: 0;
  display: none;
  width: 220px;
}
@keyframes slideIn {
  to {
    right: 0;
    opacity: 1;
  }
}
.footer .line {
  height: 1px;
  background-color: #bfd2f8;
  width: 75%;
}
.footer .last-section {
  display: flex;
  align-items: center;
  gap: 33.5rem;
}
.footer .last-section span {
  font-size: 13px;
  font-weight: 300;
}
.footer .last-section .socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.footer .last-section .socials i {
  color: black;
  background-color: #bfd2f8;
  border-radius: 50%;
  padding: 0.4rem 0.4rem;
  border: none;
  font-size: 10px;
}

.contact-msg {
  position: fixed;
  top: -5rem;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 999;
  color: white;
  background-color: #159eec;
  padding: 1rem 2rem;
  font-size: 15px;
  font-weight: 400;
  border-radius: 5px;
  border: 2px solid #a1baec;
  opacity: 0;
  pointer-events: none;
  display: none;
}

.contact-msg.animate {
  display: block;
  animation: slideDown 0.5s ease-out forwards;
}

@keyframes slideDown {
  to {
    top: 6rem;
    opacity: 1;
  }
}/*# sourceMappingURL=contact.css.map */